<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart</title>

   </head>
   <body>
      <th:block th:include="/_header"></th:block>
       <div class="container">
      <h1>My Cart</h1>
       
      <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a th:href="@{/productList}">Show Product List</a>
      </th:block>
       
      <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
          
               <div class="product-preview-container"
                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                  <ul>
                     <li><img class="product-image"
                        th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
                     </li>
                     <li>Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
                        <input type="hidden"      
                           th:name="|cartLines[${varStatus.index}].productInfo.code|"                       
                           th:value="${cartLineInfo.productInfo.code}" />
                     </li>
                     <li>Name: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
                     <li>Price:
                        <span class="price"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>Quantity:
                        <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" />
                     </li>
                     <li>Subtotal:
                        <span class="subtotal"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>
                        <a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">
                        Delete
                        </a>
                     </li>
                  </ul>
               </div>
             
            <div style="clear: both"></div>
            <input class="button-update-sc" type="submit" value="Update Quantity" />
            <a class="navi-item"
               th:href="@{/shoppingCartCustomer}">Enter Customer Info</a>
            <a class="navi-item"
               th:href="@{/productList}">Continue Buy</a>
         </form>
      </th:block>
       </div>
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>